.container {
    font-size: 0px;
    width: 1024px;
    margin: auto;
    height: 175vh;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    height: 20%;
    display: flex;
    font-size: 0rem;
    /* letter-spacing: .1rem; */
    /* background-color: blue; */
}

.main {
    height: 60%;
    display: flex;                  
    font-size: 0rem;                
    /* letter-spacing: .1rem;           */
    /* background-color: green; */
}

.footer {
    height: 20%;
    background-color: red;
}

.hidden {
    display: none;
}

/********** HEADER **********/

.header_left {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    padding: 1.25rem;
    /* background-color: lightblue; */
}

.header_center {
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    padding: 1.25rem;
    text-align: center;
    /* background-color: lightpink; */
}

.header_right {
    box-sizing: border-box;
    height: 100%;
    width: 25%;
    padding: 1.25rem;
    /* background-color: lightgreen; */
}

/********** HEADER_LEFT **********/

.name_firstname {
    font-size : 1rem;
    font-weight: bold;
}

.marital_status {
    font-size: 0.6rem;
}

.address {
    font-size: 0.8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.contact {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;   
}

.contact_row {
    margin-top: 0.25rem;
    display: flex;
    height: 1.25rem;
    align-items: center;
}

.contact_logo {
    height: 100%;
    margin-right: 0.5rem;
}

.image_logo {
    max-height: 100%;
}

/********** HEADER_CENTER **********/

.cv_title {
    font-size: 2.4rem;
    color: rgb(68, 114, 196);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1em;
}

.cv_title_spe {
    font-size: 1.6rem;
    margin-top: 1em;
}

/********** HEADER_RIGHT **********/

.cv_photo {
    height: 100%;
}

.photo_seb {
    width: 75%;
    margin: 0.5rem 1.5rem;
}

/********** MAIN **********/

.main_left {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: lightsalmon; */
}

.main_right {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    /* background-color: lightskyblue; */
}

/********** MAIN_LEFT **********/

.main_left_top {
    box-sizing: border-box;
    height: 47.5%;
    width: 100%;
    padding: 0.5rem;
    /* background-color: lightcyan; */
}

.main_left_bottom {
    box-sizing: border-box;
    height: 52.5%;
    width: 100%;
    padding: 0.5rem;
    /* background-color: lightsteelblue; */
}

/********** MAIN_LEFT_TOP **********/

.black_line {
    border-bottom: 5px solid black;
    width: 80%;
}

.category {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1.25rem;
}

.experience {
    font-size: 0.8rem;
    padding-left: 1.25rem;
}

.experience_title {
    margin-top: 0.75rem;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(68, 114, 196);
}

.experience_period {
    font-size: 0.6rem;
    margin: 0.12rem 0rem;
}

.experience_projects {
    color: rgb(68, 114, 196);
    font-size: 0.9rem;
    font-style: italic;
    margin-bottom: 0.25rem;
}

.list_1 {
    list-style-type: disc;
    margin-left: 3rem;
    width: 80%;
    margin-bottom: 0.25rem;
}

.list_2 {
    list-style-type: disc;
    margin-left: 1.5rem;
}

.list_3 {
    list-style-type: circle;
    margin-left: 4.5rem;
    margin-bottom: 0.25rem;
}

/********** MAIN_LEFT_BOTTOM **********/

.formation_school {
    font-size: 0.8rem;
}

.length_time {
    margin-top: 0.5rem;
}

/********** MAIN_RIGHT **********/

.main_right_top {
    box-sizing: border-box;
    height: 47.5%;
    width: 100%;
    padding: 0.5rem;
    background-color: lightseagreen;
}

.main_right_bottom {
    box-sizing: border-box;
    height: 52.5%;
    width: 100%;
    padding: 0.5rem;
    background-color: lightgoldenrodyellow;
}

/********** MAIN_RIGHT_TOP **********/



/********** MAIN_RIGHT_BOTTOM **********/

.black_line__center {
    border-bottom: 5px solid black;
    margin: 0 20%;
}

.category__center {
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}